{% extends 'base.html' %}

{% block title %}Добавить{% endblock %}

{% block content %}

    <form action="{% url 'catalog:add_game_game' %}" method="post">
        {% csrf_token %}
        <input type="text" size="20" name="name" placeholder="Имя">
        <input type="text" size="20" name="genre" placeholder="Жанр">
        <input type="text" size="20" name="setting" placeholder="Сеттинг">
        <input type="date" id="start" name="date"
               value="2018-05-15"
               min="1900-01-01" max="2020-12-31">
        <button type="submit">OK</button>
    </form>
    <br>
    <a href="{% url 'catalog:view_game' %}">назад</a>

{% endblock %}