{% extends 'base.html' %}

{% block title %}{{company.name}}{% endblock %}

{% block content %}

    <form action="{% url 'catalog:edit_company_id_edit' company.id %}" method="post">
        {% csrf_token %}
        <input type="text" size="20" name="name" value="{{company.name}}">
        <input type="text" size="20" name="place" value="{{company.place}}">
        <input type="date" id="start" name="date"
               value="{{company_date}}"
               min="1900-01-01" max="2020-12-31">
        <button type="submit">OK</button>
    </form>
    <br>
    <a href="{% url 'catalog:view_company' %}">назад</a>

{% endblock %}