{% extends 'base.html' %}

{% block title %}{{game.name}}{% endblock %}

{% block content %}

    <form action="{% url 'catalog:edit_game_id' game.id %}" method="post">
        {% csrf_token %}
        <textarea name="name">{{game.name}}</textarea>
        <textarea name="genre">{{game.genre}}</textarea>
        <textarea name="setting">{{game.setting}}</textarea>
        <input type="date" id="start" name="date"
               value="{{game_date}}"
               min="1900-01-01" max="2020-12-31">
        <button type="submit">OK</button>
    </form>
    <br>
    <a href="{% url 'catalog:view' %}">назад</a>

{% endblock %}