{% extends 'base.html' %}

{% block title %}Список{% endblock %}

{% block content %}

    <form method="LINK" action="{% url 'catalog:add_engine' %}">
        <input type="submit" value="add">
    </form><br>

    {% if engine_list %}

        {% for i in engine_list %}
            <div>
                <a href="{% url 'catalog:view_engine_id' i.id %}">{{i.name}}</a>
                <form method="LINK" action="{% url 'catalog:edit_engine_id' i.id %}">
                    <input type="submit" value="edit">
                </form>
                <form method="LINK" action="{% url 'catalog:delete_engine_id' i.id %}">
                    <input type="submit" value="delete">
                </form>
            </div>

        {% endfor %}

    {% endif %}

{% endblock %}