{% extends 'base.html' %}

{% block title %}Список{% endblock %}

{% block page_title %}Game List{% endblock %}

{% block add_button %}
    <input class="games-base-button" type="submit" value="Add" onClick='location.href="{% url 'catalog:add_game' %}"'>
{% endblock %}

{% block content %}

    {% if my_list %}
        <div class="wrapper">
            <form action="#" method="get">
                {% for i in my_list %}

                    <div class="buttons">
                        <a href="{% url 'catalog:view_game_id' i.id %}"><h3 class="games-base-names">{{i.name}}</a>
                        <a href="{% url 'catalog:edit_game_id' i.id %}" class="btn">Edit</a>
                        <a href="{% url 'catalog:delete_game_id' i.id %}" class="btn">Delete</a>
                    </div>

                {% endfor %}
                <textarea name="description" cols="30" rows="12"></textarea>
            </form>
        </div>
    {% endif %}

{% endblock %}