{% extends 'base.html' %}

{% block title %}{{engine.name}}{% endblock %}

{% block page_title %}Show Engine{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="#" method="get">
            <dl>
                <dt><h3 class="games-base-names">Name:</h3></dt>
                <dd><p class="games-base-description">{{engine.name}}</p></dd>

                <dt><h3 class="games-base-names">Genre:</p></dt>
                <dd><p class="games-base-description">{{engine.language}}</p></dd>

                <dt><h3 class="games-base-names">Date:</p></dt>
                <dd><p class="games-base-description">{{engine.date}}</p></dd>

                <dt><h3 class="games-base-names">Company:</p></dt>
                <dd><p class="games-base-description">{{engine.company.name}}</p></dd>
            </dl>
        </form>
    </div>
    <div>
        <input class="games-base-button" type="submit" value="Back" onClick='location.href="{% url 'catalog:view_engine' %}"'>
        <textarea name="description" cols="30" rows="12"></textarea>
    </div>

{% endblock %}