{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block page_title %}Add Game{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="{% url 'catalog:add_game_game' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name (Required)" minlength="1" required>
            <input type="text" name="genre" placeholder="Genre (Required)" minlength="1" required>
            <input type="text" name="setting" placeholder="Setting (Required)" minlength="1" required>
            <input type="date" name="date"
               value="2018-05-15"
               min="1900-01-01" max="2020-12-31" required>
            <div>
                <select class="selectors" name="company">
                    {% for i in company %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                <select class="selectors" name="platform" multiple>
                    {% for i in platform %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                <select class="selectors" name="engine">
                    {% for i in engine %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="games-base-button" type="submit" value="Submit">
        </form>
    </div>
    <div>
        <input class="games-base-button" type="submit" value="Back" onClick='location.href="{% url 'catalog:view_game' %}"'>
        <textarea name="description" cols="30" rows="12"></textarea>
    </div>

{% endblock %}