{% extends 'base.html' %}

{% block title %}{{engine.name}}{% endblock %}

{% block page_title %}Edit Engine{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="{% url 'catalog:edit_engine_id_edit' engine.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name (Required)" minlength="1" value="{{engine.name}}" required>
            <input type="text" name="language" placeholder="Language (Required)" minlength="1" value="{{engine.language}}" required>
            <input type="date" name="date"
               value="{{engine.date}}"
               min="1900-01-01" max="2020-12-31" required>
            <select class = "selectors" name="company">
                {% for i in company %}
                    {% if i.id == engine.company %}
                        <option value="{{i.id}}" selected="selected">{{i.name}}</option>
                    {% else %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input class="games-base-button" type="submit" value="Submit">
        </form>
    </div>
    <div>
        <input class="games-base-button" type="submit" value="Back" onClick='location.href="{% url 'catalog:view_engine' %}"'>
        <textarea name="description" cols="30" rows="12"></textarea>
    </div>

{% endblock %}